.banner-img {
    width: 95vw;
    height: 400px;
}
.banner {
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 80vw;
}

.col {
    display: flex;
    justify-content: center;
}