html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(231, 226, 226);
}

.banner-img {
    width: 95vw;
    height: 400px;
}
.banner {
    display: flex;
    justify-content: center;
}

.company-card {
    width: 40vw;
    margin: 1rem;
    /* border-radius: 1rem; */
}

.top-img {
    width: 100%;
    border: 1px solid dodgerblue;
    border-start-start-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.2rem;
}

.company-link {
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    text-transform: capitalize;
    color: dodgerblue;
}

.company-name {
    border: 1px solid yellowgreen;
    padding: 1rem;
    text-decoration: none;
    border-end-end-radius: 1rem;
    border-end-start-radius: 1rem;
    background-color: #3279e4;
    color: white;
}