.banner-img {
    width: 95vw;
    height: 400px;
}
.banner {
    display: flex;
    justify-content: center;
}

.card-img-top {
    width: 75vw;
}

.col {
    display: flex;
    justify-content: center;
}

.card {
    border: 2px solid green;
    padding: 0.5rem;
}