html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(231, 226, 226);
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    color: dodgerblue;
    margin: 1rem;
    border: 1px solid dodgerblue;
}

label {
    text-align: center;
}

.details-form {
    display: flex;
    justify-content: center;
    width: 100vw;
}

form {
    width: 80%;
}
input, select {
    border: 1px solid dodgerblue !important;
}

.btn-pay {
    background-color: orangered;
}

option {
    font-weight: bold;
}

placeholder {
    text-align: center;
}